---
---

@import 'toc.scss';
@import 'post.scss';
@import 'footer.scss';
@import 'post-list.scss';
@import 'utterances.scss';

body {
  background-image: url(/static/img/canvas_bg.jpg);
  font-family: 'Microsoft YaHei', 'SimHei', sans-serif;
  min-height: 100vh;
}
#middle-container {
  min-height: calc(100vh - 138px);
}

table {
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
  margin: 8px 0;
  thead {
    border-bottom: 1px dashed #777;
    background-color: #aaa;
    color: #fff;
  }
  th {
    padding: 2px 10px;
  }
  tr:nth-child(2n) {
    background-color: #e5eaed;
  }
  td {
    padding: 2px 10px;
    vertical-align: top;
  }
}

/* navbar */
nav {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  border-radius: 0;
}
.navbar-nav li {
  min-width: 95px;
  text-align: center;
}

.post-list-header {
  padding: 15px 30px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 30px;
  font-weight: bold;
}
.post-list-item {
  display: block;
  padding: 8px 30px 10px 30px;
  border-bottom: 1px solid #ddd;

  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
.post-list-item:last-of-type {
  border-bottom: none;
}
.post-list-item h2 {
  font-size: 20px;
  margin: 8px 0 8px 0;
  padding: 0;
}

.post-list-item:hover {
  background-color: rgba(0, 0, 6, 0.05);
}

/* categories list */
.categories-list-header {
  display: block;
  padding: 12px 15px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 16px;
  font-weight: bold;
}
.categories-list-item {
  display: block;
  padding: 8px 15px;
  border-bottom: 1px solid #ddd;

  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
.categories-list-item:last-of-type {
  border-bottom: none;
}
.categories-list-item:hover {
  background-color: rgba(0, 0, 10, 0.075);
  color: #983;
}
.categories-list-item .my-badge {
  font-size: 12px;
  font-weight: bold;
  color: rgb(112, 112, 112);
  background-color: rgba(136, 149, 163, 0.082);
  padding: 0 7px 1px 7px;
  float: right;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
}
.categories-list-item:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/**
 * Icons
 */
.icon svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/**
 * Blockquotes
 */
blockquote {
  color: #444;
  border-left: 5px solid #0080ff;
  padding-left: 15px;
  font-size: 16px;
  background: rgba(112, 138, 153, 0.1);
  /*font-style: italic;*/
}
blockquote:last-child {
  margin-bottom: 0;
}

.comment {
  margin-top: 20px;
}

/**
 * back to top
 */
#top {
  position: fixed;
  right: 25px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  background-color: #bbb;
  border-radius: 7px;
  opacity: 0.8;
  display: none;
  z-index: 888;
  cursor: pointer;
}
#top .arrow {
  margin: 0 auto;
  padding-top: 11px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #7f7f7f;
}
#top .stick {
  margin: 0 auto;
  padding-bottom: 21px;
  width: 13px;
  border-bottom: 13px solid #bbb;
  background-color: #7f7f7f;
}

/**
 * page-content
 */
.page-content table {
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  margin: 20px 0;
}
.page-content table tr td {
  padding: 6px 10px;
  vertical-align: top;
}
.page-content table tr td:first-of-type {
  padding: 6px 10px 6px 10px;
  border-right: 1px dashed #ddd;
  text-align: right;
}

/**
 * demo
 * 瀑布流
 * 使用多栏布局
 */
#fall {
  font-size: 0;
  text-align: center;
  /*margin: 0 auto;*/
  /*background-color: #ddd;*/
}
#fall ul {
  margin: 0 10px;
  padding: 0;
  width: 240px;
  /*background-color: red;*/
  display: inline-block;
  vertical-align: top;
  /*float: left;*/
}

@media screen and (max-width: 1200px) {
  #fall ul {
    width: 210px;
  }
}
@media screen and (max-width: 991px) {
  #fall ul {
    width: auto;
  }
}
#fall li {
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;

  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6),
    0 0 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.1) inset;

  transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
}
#fall li:hover {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.8),
    0 0 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.8),
    0 0 20px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.1) inset;

  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
#fall li p {
  margin: 0;
}
#fall .head {
  font-size: 16px;
  text-align: left;
  margin: 0 10px;
  padding: 10px 0 5px 0;
  border-bottom: 1px dotted #ddd;
  font-weight: bold;
}
#fall .description {
  text-align: left;
  padding: 5px 10px 10px 10px;
  text-indent: 2em;
}
#fall a:link {
  color: #7676ac;
} /* 未访问的链接 */
#fall a:visited {
  color: #715584;
} /* 已访问的链接 */
#fall a:hover {
  color: #5989ad;
  text-decoration: none;
} /* 鼠标移动到链接上 */
#fall a:active {
  color: #91c3cf;
} /* 选定的链接 */

#myAffix .affix {
  top: -20px;
  bottom: 0px;
}

@media screen and (max-width: 1200px) {
  .post {
    padding: 10px 10px;
    font-size: 14px;
    line-height: 1.3;
  }
  blockquote {
    border-left: 3px solid #0080ff;
    padding-left: 5px;
    font-size: 14px;
  }
  pre code {
    font-size: 12px;
  }
  .post article ul {
    padding-left: 25px;
  }
}
