#content {
  max-width: 292px;
  max-height: 100vh;
  overflow: auto;
  padding: 0.5em 1em;
  a {
    &:link {
      color: #666;
    }
    &:visited {
      color: #666;
    }
    &:hover {
      color: #336;
      text-decoration: none;
    }
    &:active {
      color: #99b;
    }
  }

  ul {
    padding-left: 1.5em;
  }
}
