---
layout: default
---

<div class="row">
  <div id="myArticle" class="col-sm-9 post">
    <header>
      <h1>{{ page.title }}</h1>
      <p>
        <local-time datetime="{{ page.date | date: '%FT%T%z' }}">{{
          page.date | date: '%b %-d, %Y'
        }}</local-time>
        {% if page.author %} •
        {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif
        %}
      </p>
    </header>
    <article>
      {{ content }}
    </article>
    <hr />
    {% include comments.html %}
  </div>

  <aside class="col-sm-3 hidden-xs">
    <div id="content" class="shadow-bottom-center sticky-top">
      {% include toc.html html=content id='markdown-toc' %}
    </div>
  </aside>
</div>
